# IDE
.idea
.vscode
.history

# Dependencies
node_modules

# Temporary files
*.log
.eslintcache
.turbo
tsconfig.tsbuildinfo
tsconfig.build.tsbuildinfo
tsconfig.lib.tsbuildinfo

# Builds
/packages/*/dist

# Coverage
/packages/*/coverage
