# IDE
.idea
.vscode
.history

# Dependencies
node_modules

# Temporary files
*.log
.eslintcache
.turbo
temp
tmp
tsconfig.build.tsbuildinfo
tsconfig.lib.tsbuildinfo
tsconfig.tsbuildinfo

# Builds
/packages/*/dist

# Coverage
/packages/*/coverage

# Claude
/.claude/settings.local.json
